/* Existing styles */
.selectBox {
    position: relative;
    top: 100px;
    left: 50px;

}

.selectBox-ele {
    display: flex;
    align-items: center;
    outline: none;
    width: 15%;
    padding: 5px;
    border-radius: 50px;
    font-weight: bold;
    border: 1px solid #D1D5DB; /* gray-300 */
    overflow: hidden;
    position: relative; /* Ensure relative positioning for absolute children */
}

.search-input {
    width: 100%;
    padding: 10px 40px 10px 10px; /* Adjust padding to leave space for the button */
    color: #1F2937; /* text-gray-900 */
    border: none;
    outline: none;
    font-size: 1rem;
}

.search-input::placeholder {
    color: #9CA3AF; /* placeholder-gray-400 */
}

.search-input:focus {
    border: none;
    /* outline: 2px solid #3B82F6;  */
}

.search-button {
    position: absolute;
    right: 10px;
    background-color: transparent; /* Remove background to blend with input */
    border: none;
    cursor: pointer;
    outline: none;
    color: black; /* text-blue-500 */
    font-size: 1.2rem; /* Adjust font size to match icon size */
    padding: 0; /* Remove padding to fit within the input */
}

.search-button:hover {
    color: #2563EB; /* text-blue-600 */
}

.search-button:focus {
    outline: none;
}

/* Additional style for .empForm-page */
.empForm-page {
    position: relative;
    width: 50%;
}
