.Menu_bar_p {
    background-color: rgb(234, 232, 232);
    width: 100%;
    position: absolute;
    top: 100px;
}

.menu_bar {
    display: flex;
    column-gap: 40px;
}

.menu_bar li {
    list-style-type: none;
    padding: 7px;
    cursor: pointer;
}
.menu_bar li:hover{
    background-color: lightgrey;
}

.content-page_table {
    position: absolute;
    top: 180px;
    width: 100%;
}

.leave_summary_tbl {
    position: absolute;
    top: 150px;
    border-collapse: collapse;
    border: 3px solid white;
    width: 59.7%;
}

.leave_summary_tbl th{
     text-align: center;
     padding: 5px;
}
.approval_content {
    position: relative;
    left: 300px;
    top: 10px;
    border-radius: 4px;
    background-color: lightgrey;
    height: 80px;
    padding: 10px;
}
.leave_tbl td{
    padding: 7px;
}

.leave_draft_btn{
    border-style: none;
    color: white;
    background-color: rgb(18, 169, 228);
    padding: 5px;
    border-radius: 4px;
}
/* td{
    padding: 10px;
} */