
.login-p{
    background: url("/public/assets/vensai-bg.jpg");
}
.card-container {
    /* background:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(/public/assets/logo_8.jpg.crdownload) no-repeat center center fixed;
    background-size: cover; */
   /* background-color:white; */
    height: 100vh; 
    display: flex;
    flex-direction: row;
    align-items: center;
    /* padding-top: 1%; */
    /* padding-bottom:11%; */
    /* justify-content: center; */
    position: absolute;
    left: 350px;
    /* flex-grow: 1;  */
}
.card {
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
    width: 300px;
    height: 300px;
    top:40px;
    margin: 0 auto;
    background-color: white; 
    color: #000;
    box-shadow: 10px 10px  5px  gray;
    display: flex;
  flex-direction: column;
  align-items: center;
 

}

    

.card .h1{
   text-align: center;
   font-family: Arial, sans-serif;
}
.forget{
    font-size: 15px;
    color: blue;
    cursor: pointer;
}
.login-button{
    background: skyblue;
    width: 90px;
    padding: 4px;
    font-family: 'Times New Roman', Times, serif;
    /* border-style:"none"; */
    border-radius: 3px;
    border-style: none;
    color: white;
    
   
}